<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>PizzaCom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= form_with(model: @restaurant_pizza, local: true) do |form| %>
      <%= form.hidden_field :authenticity_token, value: form_authenticity_token %>
      <!-- form fields -->
    <% end %>
    
    <%= yield %>
  </body>
</html>
